# Gradle
.gradle
build/
!build/classes/java/test/
bin/
*.jar
*.war
*~
# IDE
.settings/
.project
.classpath
*.launch
.idea/
# Log files
gemini_log.txt
temp_log.txt
*.log

# User Uploads
uploads/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/npm-v*
frontend/package-lock.json

# OS
.DS_Store
Thumbs.db
/src/main/resources/static
Spring-simplechat 기획서.pdf
simplechatController.txt
simplechatservice.txt
